<div class="hero has-overlay">
    <picture>
        <source srcset="{{ post.thumbnail.src|towebp }}" type="image/webp">
        <source srcset="{{ post.thumbnail.src|tojpg }}" type="image/jpeg">
        <source media="(min-width: 48em)" srcset="{{ post.thumbnail.src|resize(1200, 400) }}">
        <img loading='lazy' src="{{ post.thumbnail.src|resize(450, 450) }}" width="450" height="450" alt="post.thumbnail.alt">
    </picture>
    <div class="blog-hero-strap">
        <div class="container-fluid">
            <h1 class="article-h1">{{ post.title }}</h1>
            <p class="blog-date">
                {{ post.date }}
            </p>
        </div>
    </div>
</div>
