{% extends "tease.twig" %}

{% block content %}
	<div class="img-wrap">
		{% if post.thumbnail.src %}
			<img class="post-thumbnail" loading="lazy" src="{{post.thumbnail.src}}"/>
		{% endif %}
		<div class="category-wrap">
			{%for category in post.categories %}
				{%if category != 'Blog' %}
					<h5 class="category">{{category}}</h5>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="card-body">
		<h2 class="h2">
			<a href="{{post.link}}">{{post.title}}</a>
		</h2>
		<p>{{post.preview.length(25)}}</p>

	</div>

{% endblock %}
