{% extends "tease.twig" %}

{% block content %}
 <article class="portfolio-entry">
 <div class="wrap-image">
 
   {% if post.thumbnail.src %}
			<img loading="lazy" src="{{post.thumbnail.src}}" width="{{post.thumbnail.width}}" height="{{post.thumbnail.height}}" />
		{% endif %}
    {% if post.status == 'private' %}
    <h5 class="private">Private Post</h5>
    {% endif %}

    </div>

    <div class="entry-info">
        <h3>{{post.title}}</h3>
        <p>
           {{ post.get_field('portfolio_intro') }}
        </p>
        {% if post.get_field('no_post_page')%}
        <a class="button sml-arrow" target="_blank" href="{{post.get_field('site_link')}}">Visit Site</a>
        {% else %}
        <a class="button sml-arrow" href="{{post.link}}">View Case Study</a>
        {% endif %}
    </div>
    <!-- /.entry-info -->
</article>
{% endblock %}